.gridContainer {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr 1fr;
  gap: 16px;
}

.gridItem {
  border-radius: 8px;
  font-size: 18px;
}

.muted {
  color: #b9b9b9;
}

.listItemWrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.listItem {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  color: var(--primary-text-color);
}

.listWrapper {
  overflow: auto;
}

.list {
  min-width: 524px;
}
