.main {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.cardsWrapper {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-top: -30px;
}

@media (max-width: 1024px) {
  .main {
    width: 95vw;
    padding-bottom: 50px;
  }

  .cardsWrapper {
    flex-direction: column;
    align-items: center;
  }
}
